#advanced-search{
    border-top: 1px solid darkgrey;
    padding-top: 5px;
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
select { 
            width: 100%; 
            text-align:center; 
            margin-bottom: 10px;
            text-indent: 5px; 
            padding: 3px;
}
select .lt { 
            text-align:center; 
}
.clickable {
    cursor: pointer;
}